/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;
  width: 100%;

  # background-color: white;
  # background-color: #283f44;
  background-color: #1F3340;
  border-bottom: 1px solid $border-color-01;
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;
  display: flex;
}

.header-body {
  display: grid;
  grid-template-columns: 200px auto 70px;
  grid-template-areas: "site-title none link";
}

.site-title {
  grid-area: site-title;
  @include relative-font-size(1.425);
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  // &,
  // &:visited {
  //   color: $site-title-color;
  // }

  // color: #F3FED0;
  // color: #BCC6D0;
  color: #F3EED4;

  &:hover {
    text-decoration: none;
    // color: #F3FED0;
    color: #F3EED4;
  }
}

.header-icon-container {
  grid-area: icon;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-icon-link {
  display: flex;
  align-items: center;
}

.page-link-list {
  grid-area: link;

  display: flex;
  align-items: center;
  justify-content: right;
}

.page-link-list a {
  // color: #424242;
  // color: #F3FED0;
  color: #F3EED4;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }
}

/**
 * Site footer
 */
.site-footer {
  grid-area: footer;
  padding: $spacing-unit 0;
  height: calc(#{$spacing-unit} * 3);
}

.foot-line {
  height: 2px;
  width: 100%;
  // margin-top: 15px;
  // background: #c9cdd4;
  background: #285f44;
  // background: #86909c;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}


.footer-content {
  margin-top: $spacing-unit;
  display: grid;
  grid-template-columns: 300px auto 150px;
  grid-template-areas: "comment none icon";
}

.footer-comment {
  font-size: 13px;
  grid-area: comment;
}

.footer-icon-list {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: right;
}

.footer-icon {
  margin-left: 10px;
}

.foot-content-item {
  display: flex;
  align-items: center;
  height: 25px;
  line-height: 25px;
  margin-right: 30px;
}

.foot-content-item-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#github-profile-link {
  margin-right: 15px
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}

.scroll {
  position: relative;
  display: grid;
  grid-template-areas:
  "page-content"
  "footer";
  grid-template-rows: auto calc(#{$spacing-unit} * 5);
  height: calc(100% - (#{$spacing-unit} * 1));
  overflow-y: auto;
  scroll-behavior: auto;
}

/**
 * Page content
 */
.page-content {
  grid-area: page-content;
  position: relative;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  margin-top: $spacing-unit; 
  @include relative-font-size(1.3);
  // font-family: Georgia, serif;
  // font-weight: 1000;
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin: 0.6 * $spacing-unit 0;
    display: flex;
    align-items: center;
  }
}

.post-meta {
  font-size: $base-font-size;
  // color: $brand-color;
  color: #424242;
  margin-right: 10px;
  margin-left: auto;
}

.post-link {
  display: block;
  color: $text-color;
  @include relative-font-size(1.1);

  &:hover {
    color: $text-color;
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

/**
 * Posts
 */
.post-header {
  padding-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: $spacing-unit
  }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }

  h6 {
    @include relative-font-size(1.0625);
  }
}

#table-of-contents {
  position: fixed;
  left: $spacing-unit;
  top: $spacing-unit * 2.865;
  font-size: .875rem;
  width: 10 * $spacing-unit;
}

#table-of-contents ul {
  margin-left: 0;
}

#table-of-contents ul ul {
  margin-left: 8px;
}

#table-of-contents ul ul ul {
  margin-left: 16px;
}

#table-of-contents ul li {
  list-style-position: inside;
}

// Set the length between marker and content
#table-of-contents ul li:before {
  content: "";
  margin-left: -0.5rem;
}

#table-of-contents a {
  color: #111111;
}

.social-media-list {
  display: table;
  margin: 0 auto;

  li {
    float: left;
    margin: 5px 10px 5px 0;

    &:last-of-type {
      margin-right: 0
    }

    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;

      &:hover {
        border-color: $border-color-02
      }
    }
  }
}

/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;

  li {

    a,
    div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }

    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}

/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}

#about {
  width: 100%;
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-columns: auto 150px;
  grid-template-areas: 
    "intro avatar"
    "link avatar";
  gap: 10px;
}

#intro {
  grid-area: intro;
}

#link {
  grid-area: link;
  display: flex;
  align-items: center;
}

#avatar {
  grid-area: avatar;
}

.line {
  height: 2px;
  width: 100%;
  margin-top: 15px;
  // background: #c9cdd4;
  // background: #283f44;
  background: #285f44;
}
