.footer {
  grid-area: footer;
}

.footer-content {
  padding: $spacing-unit 0 $spacing-unit 0;
  font-size: 13px;
}

@media screen and (max-width: $on-palm) {
  .footer-content {
    margin-top: 20px;
    font-size: 10px;
  }
}