.site-footer {
  grid-area: footer;
  padding: $spacing-unit 0;
}

.foot-line {
  height: 2px;
  width: 100%;
  background: #285f44;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}


.footer-content {
  margin-top: $spacing-unit;
  display: grid;
  grid-template-columns: 300px auto 150px;
  grid-template-areas: "comment none icon";
}

.footer-comment {
  font-size: 13px;
  grid-area: comment;
}

.footer-icon-list {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: right;
}

.footer-icon {
  margin-right: 10px;
  color: black;

  &:hover {
    color: #551A8B;
  }
}

.footer-icon>svg {
  fill: currentColor;
}

.foot-content-item {
  display: flex;
  align-items: center;
  height: 25px;
  line-height: 25px;
  margin-right: 30px;
}

.foot-content-item-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}