@media screen and (max-width: 759px) {
  .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 760px;
  }
}

.scroll {
  display: grid;
  grid-template-areas:
    "page-content"
    "footer";
  grid-template-rows: auto calc(#{$spacing-unit} * 5);
  height: calc(100% - (#{$spacing-unit} * 1.5));
  overflow-y: auto;
  scroll-behavior: auto;

  @media screen and (max-width: $on-palm) {
    height: calc(100% - (#{$spacing-unit} * 1.2));
  }
}

/**
 * Page content
 */
.page-content {
  grid-area: page-content;
  width: 100%;
}

.page-heading {
  @include relative-font-size(2);
}

.line {
  height: 2px;
  width: 100%;
  margin-top: 15px;
  background: #285f44;
}
